body {
    font-family: 'Playfair Display', serif;
    background-color: green;
}
section {
  background-color: white;
}

#HeroSection {
    background-image: url(images/IMG_5690.jpg) ;
  background-color: #cccccc;
  background-size: cover;
  height: 22rem
}
#headingcolor {
  color:white;
}

#HeroText {
  background-color: #e0e0e0;

  
}
#container {
  background-color: white;
}
