body {
    font-family: 'Playfair Display', serif;
}

#HeroSection {
    background-image: url(images/IMG_5690.jpg) ;
  background-color: #cccccc;
  background-size: cover;
  height: 18rem
;
}
#headingcolor {
  color:white;
}